<!-- Lets talk about geddy -->

{{#if user}}
  <div class="row list-item">
    <div class="span12">
      <h3><a href="{{{ postsPath }}}">Posts API</a></h3>
    </div>
  </div>
{{else}}
  <div class="hero-unit geddy-welcome-box">
    <h1>Hello, stranger</h1>
    <p>You're not authenticated with this app.</p>
    <p>{{{ linkTo 'Click here to create a user account.' '/signup' }}}</p>
    <p>{{{ linkTo 'Click here to log in' loginPath }}}</p>
  </div>
{{/if}}