<div class="hero-unit">
  <h2>All Users</h2>
</div>

{{#if users }}
  {{#each users}}
    <div class="row list-item">
      <div class="span12">
        <h3><a href="{{{ userPath id }}}">{{ username }}</a></h3>
      </div>
    </div>
  {{/each}}
{{/if}}
